---
import Social from "@/components/Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    Learn more about my projects on <Social
      platform="github"
      username="RazielTX"
    />!
  </p>
  <p>
    Check also:

    <Social platform="twitter" username="ThePianistFB" />
    <Social platform="facebook" username="ThePianistDF" />
    <Social platform="instagram" username="fabian_pianoforte" />
  </p>
</footer>
