---
const { platform, username } = Astro.props;
---

<a target="_blank" href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 0.5rem;
    color: black;
    border: 1px solid navy;
    text-decoration: none;
    border-radius: 0.25rem;
    font-weight: bold;

    transition: all 0.3s;

    &:hover {
      color: white;
      background-color: rgb(23, 23, 158);
    }
  }
</style>
